.project-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-card {
    font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-style: italic;
  color: #39ff14; 
  text-shadow: 0 0 5px #39ff14, 0 0 1px #39ff14;
  font-size: clamp(1rem, calc(32px + 16 * ((100vw - 1000px) / (768 - 568))), 3rem);

  width: 60%;
}
/* ---------------- mobile project card css */
@media (max-width: 768px) {

    .project-card-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card{
        width: clamp(40%, 20rem, 80%);
        box-shadow: 0 0 12px #39ff14;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.571);
    }



    .project-img {
        background-color: aliceblue;
        height: 10rem;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    .project-img > img {
        background-color: aliceblue;
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .project-title {
        text-align: center;
    }

    .project-info {
        padding: 10px;
    }

    h3 {
        font-size: large;
    }

    .tech-node {
        box-shadow: 0 0 3px #39ff14;
        width: 60px;
        text-align: center;
        padding: 3px;
        background-color: #0f140e;
    }

    .tech-stack {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

}