.project-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-card {
    font-family: 'Fira Code', monospace;
  font-weight: 400;
  font-style: italic;
  color: #39ff14; 
  text-shadow: 0 0 5px #39ff14, 0 0 1px #39ff14;
  font-size: clamp(1rem, calc(32px + 16 * ((100vw - 1000px) / (768 - 568))), 3rem);

  width: 60%;
  border: 3px solid red;
}
/* ---------------- mobile project card css */
@media (max-width: 768px) {

    .project-card-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-card{
        width: clamp(40%, 20rem, 80%);
        margin-top: 2rem;
    }

    .project-img {
        background-color: aliceblue;
        height: 10rem;
        object-fit: cover;
    }

    .project-img > img {
        background-color: aliceblue;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .project-title {
        text-align: center;
    }

    .project-info {
        padding: 10px;
    }

    h3 {
        font-size: large;
    }

}