@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --title-font: Inter;
    --sub-header-font: "Space Mono", monospace;
    --main-background: #1E1E23;
}

html {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

* {
    margin: 0;
    padding: 0;
}

body {
     background: 
    linear-gradient(rgba(57,255,20,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(57,255,20,0.05) 1px, transparent 1px),
    #0d0d0d;
    background-size: 100% 20px, 20px 100%, auto;
    height: 100%;
}

.invis {
    display: none;
}

